.mb-3 {
  width: 50vh;
}

a:link {
  text-decoration: none;
}

.btn-primary {
  background-color: #fa4454;
  border-color: #fa4454;
  color: black;
  
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
  color: #fa4454;
}

.card-header {
  font-size: large;
  font-weight: 900;
}

.dropdown {
  margin-right: 2vw;
}

.mt-3 {
  background-color: #FEFFED;
}

.card {
  border-bottom: 3px solid #bbb;
}


